* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #61210f;
    color: white;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
    color: white;
    font-size: 40px;
    text-shadow: 5px 1px 10px #9dc8db;
    margin-bottom: 20px;
  }
  
  .form {
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: #f9df74;
    color: black;
    padding-bottom: 10px;
  }
  
  .input-container {
    display: flex;
  }
  
  .input {
    flex: 1;
    padding: 20px;
    border-radius: 10px 0 0 0;
    border: none;
    font-size: 20px;
  }
  
  .add-btn {
    height: 70px;
    padding: 22px;
    font-size: 18px;
    background-color: #27374d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 0 0;
  }
  
  .add-btn:hover {
    background-color: #43566b;
  }
  
  .input::placeholder {
    color: rgb(121, 119, 119);
  }
  
  .list {
    padding: 0;
    margin: 0;
  }
  
  .list li {
    list-style: none;
    padding: 15px 20px;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: dashed rgb(53, 0, 139);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icon-container {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .fa-circle-check {
    color: green;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .fa-circle-check:hover {
    transform: scale(1.2);
  }
  
  .fa-trash-can {
    color: red;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .fa-trash-can:hover {
    transform: scale(1.2);
  }
  
  .list li.checked {
    color: gray;
    text-decoration: line-through;
  }
  
  .list li.checked .fa-circle-check {
    color: darkgray;
  }
  